/* CSS STYLING SETTINGS */
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
}

/* STYLING FOR THE TEXT AREA WHERE USER TYPES DESCRIPTION OF EVENT */
textarea{
  background: transparent;
  border: none;
  resize: none;
  color: black;
  border-left: 1px solid black;
  padding: 10px;
}

.description{
  white-space: pre-wrap;
  color: ghostwhite;
  text-align: center;
}

/* STYLING FOR THE HEADER SECTION */
.jumbotron {
  text-align: center;
  background-color: transparent;
  border-bottom: 18px solid #66BFBF;
}

.time-block{
  text-align: right;
  border-radius: 18px;
}

.row {
  white-space: pre-wrap;
  border-top: 3px solid;
  height: 80px;
}

.hour {
  background-color: #9EA1D4;
  color: #000000;
  border-top: 1px solid #9EA1D4;
}

/* COLOUR BLOCK FOR PAST, PRESENT AND FUTURE SLOTS */
.past {
  background-color: #4E6E81;
  color: white;
}

.present {
  background-color: #FF0063;
  color: white;
}

.future {
  background-color: #66BFBF;
  color: white;
}

/* SAVE BUTTON ICON */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #2E3840;
  color: white;
}

.saveBtn i:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}
